In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('T20 Jan11-Feb11.csv')

In [3]:
data.head()

,Name,Span,Matches,Innings,Not Outs,Runs,Highest Score,Average,BF,Strike Rate,Hundreds,Fifties,Ducks,Fours,Sixes
0,RG Sharma (IND),2007-2024,159,151,19,4231,121*,32.05,3003,140.89,5,32,12,383,205
1,Babar Azam (PAK),2016-2024,128,121,15,4223,122,39.83,3268,129.22,3,36,7,447,73
2,V Kohli (IND),2010-2024,125,117,31,4188,122*,48.69,3056,137.04,1,38,7,369,124
3,PR Stirling (IRE),2009-2024,147,146,11,3655,115*,27.07,2710,134.87,1,24,13,425,129
4,MJ Guptill (NZ),2009-2022,122,118,7,3531,105,31.81,2602,135.70,2,20,3,309,173

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4228 entries, 0 to 4227
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           4228 non-null   object
 1   Span           4228 non-null   object
 2   Matches        4228 non-null   int64
 3   Innings        4228 non-null   object
 4   Not Outs       4228 non-null   object
 5   Runs           4228 non-null   object
 6   Highest Score  4228 non-null   object
 7   Average        4228 non-null   object
 8   BF             4228 non-null   object
 9   Strike Rate    4228 non-null   object
 10  Hundreds       4228 non-null   object
 11  Fifties        4228 non-null   object
 12  Ducks          4228 non-null   object
 13  Fours          4228 non-null   object
 14  Sixes          4228 non-null   object
dtypes: int64(1), object(14)
memory usage: 495.6+ KB