In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('Titanic.csv')

In [4]:
missing_values=data.isnull()
print(missing_values)

     PassengerId  Survived  Pclass   Name    Sex    Age  SibSp  Parch  Ticket  \
0          False     False   False  False  False  False  False  False   False
1          False     False   False  False  False  False  False  False   False
2          False     False   False  False  False  False  False  False   False
3          False     False   False  False  False  False  False  False   False
4          False     False   False  False  False  False  False  False   False
..           ...       ...     ...    ...    ...    ...    ...    ...     ...
413        False     False   False  False  False   True  False  False   False
414        False     False   False  False  False  False  False  False   False
415        False     False   False  False  False  False  False  False   False
416        False     False   False  False  False   True  False  False   False
417        False     False   False  False  False   True  False  False   False

      Fare  Cabin  Embarked
0    False   True     False
1    False   True     False
2    False   True     False
3    False   True     False
4    False   True     False
..     ...    ...       ...
413  False   True     False
414  False  False     False
415  False   True     False
416  False   True     False
417  False   True     False

[418 rows x 12 columns]

In [5]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,418.000000,418.000000,418.000000,332.000000,418.000000,418.000000,417.000000
mean,1100.500000,0.363636,2.265550,30.272590,0.447368,0.392344,35.627188
std,120.810458,0.481622,0.841838,14.181209,0.896760,0.981429,55.907576
min,892.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,996.250000,0.000000,1.000000,21.000000,0.000000,0.000000,7.895800
50%,1100.500000,0.000000,3.000000,27.000000,0.000000,0.000000,14.454200
75%,1204.750000,1.000000,3.000000,39.000000,1.000000,0.000000,31.500000
max,1309.000000,1.000000,3.000000,76.000000,8.000000,9.000000,512.329200